<a href="https://colab.research.google.com/github/AlexNever/databootcamp/blob/main/assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Operator Function

def op(num1, num2, operator):
  try:
    num1 = float(num1)
    num2 = float(num2)
  except:
    return "bad input"
  if operator == "add":
    return num1 + num2
  elif operator == "subtract":
    return num1 - num2
  elif operator == "multiply":
    return num1 * num2
  elif operator == "divide":
    return num1/num2
  elif operator == "power":
    return num1**num2
  elif operator == "modulo":
    return num1 % num2
  else:
    return "operator not found"

# valid input
print(
  op(-5,6,"add"),
  op(-5,6,"subtract"),
  op(-5,6,"multiply"),
  op(-5,6,"divide"),
  op(-5,6,"power"),
  op(-5,6,"modulo"),
      )

# non-standard input
print(
  op(-5,5,"ad"),
  op(-5,"6","add")
)

1.0 -11.0 -30.0 -0.8333333333333334 15625.0 1.0
operator not found 1.0

In [ ]:
# Discount Calculator

def discount_calc(price):
    try:
        price = float(price)
    except Exception:
        return "bad input"

    if price > 50:
      return price * 0.9
    else:
      return price

print(
    discount_calc(90),
    discount_calc(30),
    discount_calc("90"),
    discount_calc("Thirty")
)

81.0 30.0 81.0 bad input

In [ ]:
# Currency Converter for USD, EUR, JPY, GBP (in terms of USD)

def conv(source, target):
  usd_to = [["USD", "EUR", "JPY", "GBP"], [1, .92, 131.2, 0.83]]
  try:
    source_i = usd_to[0].index(source)
  except Exception:
      return print("invalid source: ", "\"", source, "\"", sep="")
  
  try:
    target_i = usd_to[0].index(target)
  except Exception:
      return print("invalid target: ", "\"", target, "\"", sep="")

  source_value = usd_to[1][source_i]
  target_value = usd_to[1][target_i]

  output = target_value/source_value

  return output

# Valid Input
[
  [ "EUR:",
    conv("EUR", "USD"),
    conv("EUR", "JPY"),
    conv("EUR", "GBP") 
  ],
 [ "USD:",
    conv("USD", "EUR"),
    conv("USD", "JPY"),
    conv("USD", "GBP")  
 ],
 [ "JPY:",
    conv("JPY", "EUR"),
    conv("JPY", "USD"),
    conv("JPY", "GBP")  
 ],
 [ "GBP:",
    conv("GBP", "EUR"),
    conv("GBP", "USD"),
    conv("GBP", "JPY")
 ]
]

[['EUR:', 1.0869565217391304, 142.6086956521739, 0.9021739130434782],
 ['USD:', 0.92, 131.2, 0.83],
 ['JPY:', 0.0070121951219512205, 0.007621951219512196, 0.006326219512195122],
 ['GBP:', 1.108433734939759, 1.2048192771084338, 158.0722891566265]]

In [ ]:
# Currency Conversion Tests Continued
## Invalid Input
print(
    conv("nonsense", "nonsense"),
    conv("EUR", "nonsense")
)

invalid source: "nonsense"
invalid target: "nonsense"
None None

In [ ]:
def loan_eligibility(age, credit_score):
  try:
       age = float(age)
       credit_score = float(credit_score)
  except Exception:
       return "bad input"  

  if credit_score > 800 or credit_score < 0:
    return "invalid credit score"
  else:
  # loan eligibility if score above 1.5.
  ## age score (assume: 40 is prime loan age, eldery candidates receive poor scores)
    a_score = 1 - abs(age-40)/40
  ## credit score (the closer to 800, the better
    c_score = credit_score/800
  # Higher weight toward credit score
    eli = (c_score*0.9 + a_score*0.1)/2

    if eli > 0.4:
      return print("eligible: ", eli, sep="")
    else:
      return print("ineligible: ", eli, sep="")

# Normal testing
loan_eligibility(10, 800)
loan_eligibility(40, 800)
loan_eligibility(70, 800)

loan_eligibility(10, 600)
loan_eligibility(40, 600)
loan_eligibility(70, 600)

# Special testing
loan_eligibility("10", "600")
loan_eligibility("ten", "good")

eligible: 0.4625
eligible: 0.5
eligible: 0.4625
ineligible: 0.35000000000000003
ineligible: 0.3875
ineligible: 0.35000000000000003
ineligible: 0.35000000000000003

'bad input'

In [ ]:
# Challenge: Find the sum of all the multiples of 3 or 5 below 1000.

def sum_fct(fac1, fac2, upper):
  multiples = []
  for i in range(1, int(upper)):
    if i % fac1 == 0:
      multiples.append(i)
    elif i % fac2 == 0:
      multiples.append(i)

  return sum(multiples)

sum_fct(3, 5, 1000)

233168